.about-section{
    overflow: hidden;
    margin-top: 2em;
}
.rent h1{
    font-weight: bold;
    font-family: Helvetica;
    font-style: normal;
    font-size: 24px;
    line-height: 36px;
 }
 .rent p{
    font-family: Helvetica;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    vertical-align: top;
    text-align: left;
 }
.list p{
    margin-top: -23px;
    margin-left: 30px;
    width: 100vw;
}