
.card {
    box-shadow: 0px 0px 10px 0px #00000026;
    border: none;
}
.card-body .detail .p1 {
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}

.card-body .detail .p2 {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.card-body .detail .p3 {
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}


.layer-img-card {
    height: 222px;
}

.btn-pilih {
    background-color: #5CB85F;
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid #5CB85F;
}