.bg-1 {
  position: static;
  width: 100%;
  height: 480px;
  background-color: #F1F3FF;
  z-index: 2;
}

.bg-2 {
  position: static;
  width: 100%;
  height: 200px;
  background-color: #F1F3FF;
  z-index: 2;
}

.bg-3 {
  position: static;
  width: 100%;
  height: 164px;
  background-color: #F1F3FF;
  z-index: 2;
}

/* TEXT */

.h-36-b {
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
}

.h-24-b {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

.h-20-b {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

.b-16-b {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.b-14-r {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.b-14-l {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.b-14-b {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.b-14 {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 175%;
}

.b-12-l {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
}

.b-10-l {
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 14px;
}
.column-hero {
  width: 50%;
}

.column-hero.kiri {
  padding-left: 70px;
}

.text-hero {
  width: 80%;
}

.car-img{
  margin-top: 70px;
}