.btn.btn-green {
    background-color: #5cb85f;
    border: none;
    border-radius: 2px;
    border-color: #5cb85f;
    color: #ffffff;
    cursor: pointer;
  }
  .btn.btn-green:hover {
    background-color: #36a420;
    border-color: #36a420;
  }
  .cta-banner {
    min-height: 326px;
    background-color: #0d28a6;
    border-radius: 13px;
    margin: 100px 117px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    padding : 25px;
  }
  
  .cta-banner p {
    width: 50%;
    margin: 16px auto 52px;
  }