.dashboard .content-add-new-car{
    margin-left: 70px;
    margin-top: 60px;
  }
  
  .dashboard .list-add-new-car{
      height: 132vh;
  }
  .dashboard .list-item-add-new-car{
      height: 100vh;
  }
  .add-car {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
  }
  
  .card-form::-webkit-scrollbar{
    display: none;
  }
  
  .form .label-form {
    font-weight: 300;
    font-size: 12px;
    
    line-height: 18px;
  }
  
  .form .input-form {
    border: 1px solid #d0d0d0;
    border-radius: 2px;
    
    width: 320px;
  }
  
  .form .input-form::placeholder {
    font-weight: 300;
    width: 320px;
    font-size: 12px;
    color: #8a8a8a;
  }
  
  .form select{
    font-weight: 300;
    width: 320px;
    font-size: 12px;
    color: #8a8a8a;
  }
  
  .form .uploader .uploader__widget-base .uploader__widget-base__children .btn{
    background-color: #0d28a6;
    border: 0;
    font-size: 14px;
      
  }
  .form .uploader .uploader__widget-base .uploader__widget-base__children p{
    font-weight: 300;
    font-size: 12px;
    color: #8a8a8a;
    
      
  }
  
  .btn .cancel {
    border: 1px solid #0d28a6;
    background-color: #fff;
    border-radius: 2px;
    color: #0d28a6;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
  
  }
  
  .btn .cancel:hover{
    background-color:#0d28a6;
    color: #fff;
  }
  
  .btn .save {
    border-radius: 2px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    background-color: #0d28a6;
  }
  
  .btn .save:hover{
    background-color: rgb(115, 154, 245);
  }

  .dashboard .main-menu {
    width: 70px;
    height: 100vh;
    background-color: #0d28a6;
    margin-top: -62px;
    z-index: 1;
  }
  
  .dashboard .main-menu-rectangle {
    width: 34px;
    height: 34px;
    background-color: #cfd4ed;
  }
  
  .dashboard .home {
    padding-top: 12px;
    padding-bottom: 1px;
  }
  .dashboard p {
    font-size: 12px;
  }
  
  .dashboard .car {
    background: rgba(255, 255, 255, 0.3);
    padding-top: 12px;
    padding-bottom: 1px;
  }
  
  .dashboard .side-bar {
    width: 220px;
    height: 92vh;
  }
  
  .dashboard .side-bar h3 {
    color: #8a8a8a;
    font-weight: 700;
    font-size: 14px;
    margin-top: 34px;
    margin-left: 24px;
  }
  
  .dashboard .side-bar p {
    background-color: #cfd4ed;
    margin-top: 28px;
    padding-left: 24px;
    padding-top: 11px;
    padding-bottom: 11px;
    font-weight: bold;
    font-size: 14px;
  }
  
  .content-list-car{
    margin-left: 310px;
    margin-top: 68px;
  }
  
  .btn-category .active {
    background-color: #cfd4ed;
    border-color: #0d28a6;
    color: #0d28a6;
    height: 36px;
  }
  .btn-category .non-active {
    background-color: #fff;
    border-color: #aeb7e1;
    color: #aeb7e1;
    height: 36px;
  }
  
  .btn-category .non-active:hover {
    background-color: #cfd4ed;
    color: #0d28a6;
    border-color: #0d28a6;
  }
  
  .btn-add-new-car {
    background-color: #0d28a6;
    height: 36px;
    border-radius: 2px;
    color: #fff;
  }
  .btn-add-new-car:hover {
    background-color: rgb(115, 154, 245);
  }
  
  .list-car {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
  }
  
  .img-car {
    margin-top: 55px;
  }
  
  .btn-delete {
    color: #fa2c5a;
    border: 1px solid #fa2c5a;
  }
  
  .btn-edit {
    background-color: #5cb85f;
  }
  .card-list::-webkit-scrollbar {
    display: none;
  }
  
  
