.navbar {
  /* position: fixed; */
  height: 72px;
  z-index: 10;
  background-color: #F1F3FF;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100%;
  padding: 0 70px;
}

.logo {
  /* width: 100px;
  height: 34px;
  color: #0D28A6; */
  /* background-color: #0D28A6; */
}

.navbar-menu {
  display: grid;
  place-items: center;
  height: 100%;
}

.navbar-links {
  margin: auto 0px;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.navbar-item {
  margin: 0.5em;
  width: max-content;
}

.navbar-link {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.4em 0.8em;
}

.navbar-link:is(:focus, :hover) {
  color: #0D28A6;
  text-decoration: none;
}