
.sidebar {
    margin-left: 80px;

}

.sidebarIcon {
    background: #0D28A6;
    width: 80px;
    height: 100%;
    top: 0;
    left: 0;
}

.sidebarIcon p {
    color: white;
    font-family: Helvetica;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 5px;
}

.sidebarIcon .menu i {
    font-size: 25px;
}

.sidebarIcon .top {
    width: 100%;
    height: 8vh;
    /* border: solid red; */
}

.sidebarIcon .top .img {
    width: 32px;
    height: 32px;
    background-color: #CFD4ED;
}

.sidebarIcon .menu {
    width: 100%;
    height: 70px;
    padding: 10px;
}

.sidebarIcon .menu.active {
    background: #8694d3;
}

/* SIDEBAR_ICON END */



.sidebarMenu {
    background: #f9f9f9;
    width: 250px;
    height: 100vh;
    margin-left: 0px;
    transition: 1s;
}

.sidebarMenu.active {
    margin-left: -250px;
}


.sidebarMenu .top {
    width: 100%;
    height: 8vh;
    padding-left: 10px;
}

.sidebarMenu .top .logo {
    width: 100px;
    height: 32px;
    background: grey;
}

.sidebarMenu .head {
    width: 100%;
    height: 70px;
}

.sidebarMenu .head .text {
    width: 100%;
    height: 50px;
    background: #90a6a4;
}

.sidebarMenu .head .text P {
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}


