.bg-footer {
  position: static;
  padding: 40px 120px 100px 120px;
}

.container-footer {
  display: flex; 
  justify-content: space-between;
}

.container-icon {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 220px;
}

.container-icon img {
  margin: 0px 5px 5px 5px;
}