
.breadcrumb .breadcrumb-item a{
    text-decoration: none;
}
.content-list-car{
    /* margin-left: 310px; */
    margin-top: 68px;
  }
  
  .btn-category .active {
    background-color: #cfd4ed;
    border-color: #0d28a6;
    color: #0d28a6;
    height: 36px;
  }
  .btn-category .non-active {
    background-color: #fff;
    border-color: #aeb7e1;
    color: #aeb7e1;
    height: 36px;
  }
  
  .btn-category .non-active:hover {
    background-color: #cfd4ed;
    color: #0d28a6;
    border-color: #0d28a6;
  }
  
  .btn-add-new-car {
    background-color: #0d28a6;
    height: 36px;
    border-radius: 2px;
    color: #fff;
  }
  .btn-add-new-car:hover {
    background-color: rgb(115, 154, 245);
  }
  
  .list-car {
    font-weight: 700;
    font-size: 20px;
  }
  