.wrap-search {
    background-color: #FFFFFF;
    border-radius: 8px;
    width: 1024px;
    position: relative;
    margin-top: -55px;
    box-shadow: 0px 0px 10px 0px #00000026;
}

.form-search label{
  font-family: Rubik;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

.tipe-driver .form-select {
  font-family: Rubik;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;    
}

.tipe-driver option {
  font-family: Rubik;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

.tanggal .form-control {
  font-family: Rubik;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

.waktu-jemput .form-select {
  font-family: Rubik;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

.jumlah-penumpang .form-control {
  font-family: Rubik;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

.input-jp {
  position: relative;
}

.input-jp svg{
  position: absolute;
  right: 10px;
  top: 8px;
}

.btn-search {
  background-color: #5CB85F;
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid #5CB85F;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media screen and (max-width: 576px) {
  .wrap-search {
    width: 100%;
  }

  .btn-submit {
    width: 100%;
  }
}