.feature{
    border: 1px solid rgb(114, 114, 114);
    width: 22%;
    height: 200px;
    border-radius: 8px;
    padding: 30px;
    margin-left: 26px;
    
 }
 .feature-icon{
    margin-top: -15px;
 }
 .feature p{
    width: 14,4px;
    height: 16,67px;
    top: 1,67px;
    padding-top: 10px;
    left: 1,67px;
}
 .feature h2{
     width: 220px;
     height: 24px;
     top: 72px;
     padding-top: 10px;
     left: 24px;
     font-size: 16px;
     font-style: normal;
     line-height: 24px;
     font-weight: 700;
     font-family: Helvetica;
 }
 .why-us h3{
    line-height: 30px;
    width: 468px;
    height: 36px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    font-family: Helvetica;
 }
 .why-us p{
    line-height: 30px;
    width: 468px;
    height: 20px;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    font-family: Helvetica;
 }